@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";

body {
  background-color: #0E0E10;
  color: white;
  font-family: 'Poppins', sans-serif;
}
